<style type="text/css">
  .tg {
    border-collapse: collapse;
    border-spacing: 0;
  }

  .tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 14px;
    word-break: normal;
  }

  .tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 14px;
    word-break: normal;
  }

  .tg .tg-c3ow {
    border-color: inherit;
    text-align: center;
    vertical-align: top
  }

  .tg .tg-cc36 {
    background-color: #c0c0c0;
    border-color: inherit;
    font-family: "Arial Black", Gadget, sans-serif !important;
    font-size: 16px;
    text-align: center;
    vertical-align: top
  }
</style>
<table class="tg">
  <thead>
    <tr>
      <th class="tg-cc36">Octal Digit</th>
      <th class="tg-c3ow">0</th>
      <th class="tg-c3ow">1</th>
      <th class="tg-c3ow">2</th>
      <th class="tg-c3ow">3</th>
      <th class="tg-c3ow">4</th>
      <th class="tg-c3ow">5</th>
      <th class="tg-c3ow">6</th>
      <th class="tg-c3ow">7</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-cc36">Binary Equivalent</td>
      <td class="tg-c3ow">000</td>
      <td class="tg-c3ow">001</td>
      <td class="tg-c3ow">010</td>
      <td class="tg-c3ow">011</td>
      <td class="tg-c3ow">100</td>
      <td class="tg-c3ow">101</td>
      <td class="tg-c3ow">110</td>
      <td class="tg-c3ow">111</td>
    </tr>
  </tbody>
</table>